In [2]:
from scipy.stats import ttest_1samp
import numpy as np
import pandas as pd


from scipy.stats import norm, t, kstest, shapiro
import statsmodels.api as sm
from matplotlib import pyplot as plt


import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

Оцените результаты эксперимента :
Стат значимо ли отличается метрика конверсии в двух группах ? Какие рекомендации дадите менеджеру?

In [5]:
df = pd.read_csv('a_b_eco.csv')
df.head()
df.describe()

                  id      converted
count  294478.000000  294478.000000
mean   787974.124733       0.119659
std     91210.823776       0.324563
min    630000.000000       0.000000
25%    709032.250000       0.000000
50%    787933.500000       0.000000
75%    866911.750000       0.000000
max    945999.000000       1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         294478 non-null  int64
 1   time       294478 non-null  object
 2   con_treat  294478 non-null  object
 3   page       294478 non-null  object
 4   converted  294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [8]:
df.head()
df.query('con_treat=="control" and page=="new_page" or con_treat=="treatment" and page=="old_page"')

            id     time  con_treat      page  converted
22      767017  58:15.0    control  new_page          0
240     733976  11:16.4    control  new_page          0
308     857184  34:59.8  treatment  old_page          0
327     686623  26:40.7  treatment  old_page          0
357     856078  29:30.4  treatment  old_page          0
...        ...      ...        ...       ...        ...
294014  813406  25:33.2  treatment  old_page          0
294200  928506  32:10.5    control  new_page          0
294252  892498  11:10.5  treatment  old_page          0
294253  886135  49:20.5    control  new_page          0
294331  689637  34:28.3    control  new_page          0

[3893 rows x 5 columns]

In [12]:
df.con_treat.value_counts()

con_treat
treatment    147276
control      147202
Name: count, dtype: int64

In [11]:
df_new = df.query('not (con_treat=="control" and page=="new_page" or con_treat=="treatment" and page=="old_page")')
df_new.con_treat.value_counts()

con_treat
treatment    145311
control      145274
Name: count, dtype: int64

In [15]:
df.id.value_counts().sort_values()

id
860062    1
690641    1
937063    1
775361    1
705396    1
         ..
703112    2
834370    2
653493    2
660951    2
805339    2
Name: count, Length: 290584, dtype: int64

In [14]:
df_new.id.value_counts().sort_values()

id
858632    1
831737    1
677533    1
839785    1
644214    1
         ..
908354    1
659902    1
740310    1
751197    1
773192    2
Name: count, Length: 290584, dtype: int64

In [16]:
df_new.query('id == 773192')

          id     time  con_treat      page  converted
1899  773192  37:58.8  treatment  new_page          0
2893  773192  55:59.6  treatment  new_page          0

In [19]:
n1, n2 = df_new.con_treat.value_counts()

In [20]:
k1, k2 = df_new.query('converted == 1').con_treat.value_counts()

Пирсон, хиквадрат

Нулевые гипотезы -- статитически значимой разницы между выборками нет

In [23]:
from statsmodels.stats import proportion
import numpy as np

proportion.proportions_chisquare(np.array([k1, k2]), np.array([n1, n2]))

(1.590150776081532,
 0.20730459344832536,
 (array([[ 17489., 127822.],
         [ 17264., 128010.]]),
  array([[ 17378.7125385, 127932.2874615],
         [ 17374.2874615, 127899.7125385]])))

Z тест

 Z-статистика вычисляется как отношение разницы между случайной величиной и математическим ожиданием к стандартной ошибке этой случайной величины

In [25]:
proportion.proportions_ztest(np.array([k1, k2]), np.array([n1, n2]))
# print('Results are ','z_score =%.3f, pvalue = %.3f'%(z_score, z_pvalue))

(1.261011806479853, 0.20730459344832164)

В обоих случаях P_value больше alfa (0.05) -- таким образом гипотеза об отсутствии статически значимой разнице не отвергается.
Дается рекомендация оставить всё как было.